<mat-toolbar color="primary">
  <span>mtosh sso</span>
  <span class="fill-remaining-space"></span>
  <div *ngIf="!isUserLoggedIn()">
    <button mat-icon-button  (click)="login()" matTooltip="login">
      <mat-icon>get_app</mat-icon>
    </button>
    <button mat-icon-button  (click)="signup()" matTooltip="sign up">
        <mat-icon>open_in_browser</mat-icon>
      </button>
  </div>
  <div *ngIf="isUserLoggedIn()">
    <span class="welcome">Welcome: {{useremail()}}</span>
    <button [matMenuTriggerFor]="profile" mat-icon-button >
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #profile="matMenu">
      <button mat-menu-item (click)="resetPassword()">
        <mat-icon>account_box</mat-icon>Change Password
      </button>      
      <button mat-menu-item (click)="logout()">
        <mat-icon>exit_to_app</mat-icon> Log Out
      </button>
    </mat-menu>
  </div>
</mat-toolbar>

<router-outlet></router-outlet>
